// vim:ft=cpp

// your wifi credentials
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// code will keep up to .001, which should be more than sufficient.
#define lat 0
#define lon 0

// if https, please update the code to create HTTPS connections
#define SERVER_HOST "192.168.1.60"
#define SERVER_PORT 8000
